*{
    margin: 0;
    padding: 0;
   

    
    

}
html,body{
    height: 100%;

    width: 100%;
   
   


}
hover:hover{
    Scale: 1.05;
    cursor: pointer;
}

.header{
    background-color: black;
    width: 99.3%;
    height: 9%;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 5px;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0%;
   
  
}

.hover:hover{
    text-decoration: solid;
    cursor: pointer;
}

.logo img{
    height: 60px;
    width: 80px;
    padding-bottom: 10px;
    
}

.contact-bar{
    width: 10%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-bar span i{
    font-size: 20px;
}

.name-div{
    width: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.name-div h3{
    text-wrap: nowrap;
    font-size: 2vw;
    font-weight: 1000;
}
.logo{
    width: 15%;
}
.hero-contact{
    width: 98%;
    padding: 10px;
   
   
text-align: center;
    
    
}
.hero-contact section{
    padding: 15px;
    font-size: 1.6vw;
    border-radius: 30px;
    border: 1px solid black;
    background-color: #D4F1F4;
   
}

.card-contact{
    height: 200px;
    width: 250px;
    background-color: #75E6DA;
    border-radius: 30px;
    text-align: center;
    text-align: center;
    margin: 10px;
  

}
.card-contact h3{
    margin-top: 10px;
}
.card-contact img{
    height: 100px;
    width: 100px;
    margin-top: 15px;
    
}
.card-in{
   
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
   


}

.editlogo{
    text-align: center;
    height: 100%;
    align-items: center;
}

.up-con a{
    margin-top: 15px;
    text-wrap: nowrap;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}
.card-out{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-hand{
    height: 300px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.map{
    width: 80%;
    height: 90%;
    background-color:white;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
}

.we-are{
    margin-top: 20px;
    font-weight: 1000;
    font-size: 22px;
}

.page-back-con{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  
}
.page-back-con2{
   
    height: 180px;
    width: 85%;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.page-back-con1{
    width: 18%;
    height: 160px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-back-con1 span{
    font-size: 22px;
    font-weight: 800;
    margin-top: 30px;
}
.page-back-con1 h4{
    margin-top: 20px;
}
@media screen and (min-width: 766px) and  (max-width: 1340px)  {
    .name-div h3{
        text-wrap: nowrap;
        font-size: 2.5vw;
        
    }
    .hero-contact section{
        padding: 20px;
        font-size: 1.9vw;
    
    }
    .card-in{
        display: block;
      
    }
    
    

}

@media screen and  (max-width: 767px)  {
    .name-div h3{
        text-wrap: nowrap;
        font-size: 3.5vw;
    }
    .hero-contact section{
        padding: 20px;
        font-size: 3.5vw;
    
    }
    .card-in{
        display: block;
      
    }
    .page-back-con1{
        width: 15%;
        height: 160px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
    }
    .page-back-con1 h4{
        margin-top: 20px;
        font-size: 14px;
    }
    

}

