*{
    margin: 0;
    padding: 0;
   

    
    

}
html,body{
    height: 100%;
    color: #fff;
    width: 100%;
    background-color: #000000;
   


}

.header{
    width: 100%;
    height: 11%;
    border-bottom: 1px solid rgb(255, 255, 255);
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;

}

.menu-mobile{
        
    width: 0px;
    visibility: hidden;
}

#nav img{
    height: 90px;
    width: 130px;
    padding-bottom: 10px;
   
}

#nav{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
   gap: 30px;
   font-size: 15px;
   padding: 5px 5px;
   text-transform: uppercase;
   margin-top: 0px;
   background-color: #000000;
   border-bottom: 1px solid white;

}
#nav-part2{
    display: flex;
    align-items: center;
   gap: 30px; 
   text-wrap: nowrap;
}
#nav-part3{
    display: flex;
    align-items: center;
    gap: 30px;
    text-wrap: nowrap;
 
}


#nav-part3 button{
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: none;
    background: #fff;
    border-radius: 40px;
    font-weight: 800;
    text-wrap: nowrap;
 

   
}
#nav-part3 button:hover{
    background: rgb(83, 180, 241);
    transition: all ease 0.6s;
    color: #fff;
    cursor: pointer;

    
}

.hover:hover{
    text-decoration: solid;
    cursor: pointer;
    Scale:1.05 ;
}


/* hero */
.hero1{
    margin-top: 10%;
    width: 100%;
    display: flex;
    
    overflow: hidden;
    align-items: center;
   

}


.menu-items h5{
    visibility: hidden;
    height: 0px;
    width:0px;
    z-index: 1000;
}

#nav-part1{
    display: flex;
    align-items: center;
    
}

.menu-mobile{
        
        width: 0px;
        visibility: hidden;
}

#image2 {
    
    
    width: 50%;
    height: 50%;
 
   
    border-radius: 20px;
    object-fit: cover;
    object-position: right;
    
    padding: 10px;
    
    /* background-image: url("https://images.unsplash.com/photo-1519003722824-194d4455a60c?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHRydWNrfGVufDB8fDB8fHww"); */
   

}

#image2 img{
    border-radius: 50px;
}
#image2 img:hover {
    Scale: 1.03;

}




#text{
    width: 45%;
    text-align: center;
    font-size: 35px;
    top: 30%;
    left: 22%;
    line-height: 130px;
    text-wrap: nowrap;
   margin-left: 5%;
   margin-right: 5%;
   text-transform: uppercase;
  
  
   

}

#span1{
    background: rgb(190, 46, 46);
    border-radius: 30px;
    padding: 10px;
}
.every{
    background-color: #134fcf;
   padding: 4px;
    border-radius: 30px;
    padding-right: 2px;
    
    
}

#h5{
    margin-left: 50%;
    text-transform: uppercase;
}

#text-mobile{
    visibility: hidden;
    height: 0px;
    line-height: 0px;
    text-align: center;
    margin-left: 5%;
}

/* page 2 start here */

.page2{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     
  
}

.under-page2{
    height: 98%;
    width: 98%;
    
    margin-top: 5%;
    border-radius: 20px;
    border-top: 1px solid white;
    

  
    justify-content: center;
    align-items: center;
    
   
}


.section1{
  
    height: 47%;
    width: 98%;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.pic-div {
    width: 45%;
    height: 100%;
    padding: 5px;

}
.pic-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    border-radius: 20px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.pic-div img:hover{
    Scale: 1.01;
    opacity: 1.7;
    
}

.text-div{
    width: 45%;
    height: 100%;
    border-radius: 20px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    overflow: hidden;
    padding: 5px;



}

.text-div:hover{
    Scale: 1.04;
}

.text-div h3{
    text-transform: uppercase;
    font-size: 4vh;
    margin-top: 1vh;
}

.text-div p{
  
    font-size: 3.8vh;
    margin-top: 10px;

}



.page3{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.under-page3{

    height: 98%;
    width: 98%;
    
    margin-top: 5%;
    border-radius: 20px;
  


  
    justify-content: center;
    align-items: center;

}

footer{
    margin-top: 5%;
    height: 40%;
    border-top: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-div{
    margin-top: 2vh;
    width: 30%;
    height: 90%;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 5px;

    
}


.pages-footer h4{
    margin-top: 5vh;
    text-decoration: none;
    font-size: 16px;
    text-align: center;

}
.pages-footer h4 a{
    text-decoration: none;
    color: white;
}
.pages-footer h4 a:hover{
    Scale: 1.05;
    font-weight: 550;
    cursor: pointer;

}
.social h4{
    margin-top: 5vh;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.social h4 a{

    text-decoration: none;
    color: white;
}
.location{
    align-items: center;
    text-align: center;
}

.location h4{
    align-items: center;
    text-align: center;
    margin-top: 4vh;
    font-size: 7vh;
    
}

.location h6{
    font-size: 17px;
    margin: 10px;
    margin-top: 6vh;
}



@media screen and  (max-width: 767px)  {

    .header{
        width: 100%;
        height: 8%;
        border-bottom: 1px solid rgb(255, 255, 255);
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 1000;
        
      
    }

    #main{
        width: 100%;
    }

    #nav{
        padding: 2%;
        border-bottom: 1px solid white;
        
    }

    #nav-part1{
        width: 100%;
        padding: 2%;
    }

    #nav-part2{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    #nav-part3 h3{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }

    .menu-mobile{
        visibility: visible;
        font-size: 25px;
        
        
    }
    .menu-items h5{
        text-transform: uppercase;
        visibility: hidden;
        width:150px;
        margin: 0px;
        padding: 20px;
        background-color:#CCCCCC;
        height: auto;
        text-wrap: nowrap;
        font-weight: 900; 
        color: #000;   
        border-bottom: 1px solid rgb(0, 0, 0);
        z-index: 1000;    
        
        

    }

    .menu-bar{
        border-top-left-radius: 10px;
        border-top-right-radius:10px ;
        margin-top: 10px;
        z-index: 1000;
        
       
       

    }
    .menu-bar3{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius:10px ;
        
    }
    #nav img{
        margin-left: 55%;

            
    }

    .menu-items{
        position: fixed;
        
        
        width: auto;  
        margin-left: 15px;
        z-index: 1000;     
    
    }
    #image2{
        height: 230px;
        margin-top: 20px;
       
        
        
      
        
    }
        
    #image2 img{
        visibility: visible;
        margin-left: 200px;
      

        
        
       
   
   }
  #text{
    visibility: hidden;

  }
   .icon-mo{
    font-size: 15px;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    
}
#text-mobile{
    visibility: visible;
    height: auto;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

.every1{
    background-color: #134fcf;
    border-radius: 30px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 15%;
    z-index: 300;
}
#h5{
  
    text-transform: uppercase;
    font-size: 9px;
    text-align: center;
    position: relative;
    margin-top: 10vh;
    margin-left: -2%;
    margin-bottom: 2%;
    
}

.text-div h3{
    text-transform: uppercase;
    font-size: 2.2vh;
    margin-top: 1vh;
}

.text-div p{
  
    font-size: 1.8vh;
    margin-top: 10px;

}

.span3{
    visibility: hidden;
}


/* page 2 start here */

/* #left{
    width: 45%;
    height: 95%;
    justify-content: center;
    border-radius: 20px;
  
    margin-top: 15px ;
    
    
}

#left img{
    width: 100%;
    height: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    object-fit: cover;
    border-radius: 20px;

}

#right{
    margin-top: 15px ;
    width: 45%;
    height: 95%;
    border-left: 1px solid white;
   border-right: 1px solid white;
    border-radius: 20px;
    text-align: center;
  
    
  
  
}

#right h3{
    text-transform: uppercase;
    font-size: 1.7vh;  
   
    
}

#right p{
    margin-top: 15px;

    font-size:1.7vh ;
    margin: 5px;
    line-height: 2.1vh;
    
}

 */









}